<footer class="bg-light m-2 page-footer font-small blue pt-4" style="padding-left: 0px;">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">CoolPress</h5>
            <p>Check the best news ever on our page</p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="{% url 'about' %}">About</a>
              </li>

            </ul>

          </div>
          <!-- Grid column -->



        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© {% now "Y" %} Copyright:
        <a href="https://mdbootstrap.com/"> coolpress.com</a>
      </div>
      <!-- Copyright -->

    </footer>