<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="main-navbar">
    <a class="navbar-brand" href="#">CoolPress</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts-list' %}">News</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <a class="dropdown-item"
                       href="{% url 'posts-list-by-category' category.slug %}">{{category.label}}</a>
                    {% endfor %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'category-list' %}">Category List</a>

                </div>
            </li>
            <form action="{% url 'post-search' %}" class="form-inline my-2 my-lg-0 mx-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search" name="search-text" value="{{search_text}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navUser" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                    {% if cooluser.gravatar_link %}
                    <img class="gravatar-navbar-icon" src="{{cooluser.gravatar_link}}" alt="">
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navUser">
                    <a class="btn btn-danger" href="{% url 'logout' %}">Log Out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item ml-2">
                <a class="btn btn-secondary" href="{% url 'signup' %}">Sign Up</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>