{% if is_paginated %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
      <li class="page-item {% if page_obj.number == 1 %}disabled{% endif %}">
            <a class="page-link" href="?page=1{%if search_data %}&q={{search_data}}{%endif%}">&laquo; First</a>
        </li>
      <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
      <a class="page-link"
         href="{% if page_obj.has_previous %}
         ?page={{page_obj.previous_page_number}}
                 {%else%}#
      {%endif%}{%if search_data %}&q={{search_data}}{%endif%}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
    </li>
    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{%else%}#{%endif%}{%if search_data %}&q={{search_data}}{%endif%}">Next</a>
    </li>

      <li class="page-item
      {% if page_obj.number == page_obj.paginator.num_pages %}
      disabled
      {% endif %}"><a class="page-link"
                      href="?page={{ page_obj.paginator.num_pages }}{%if search_data %}&q={{search_data}}{%endif%}">Last &raquo;</a></li>

  </ul>
</nav>
{% endif %}