{% extends 'base.html' %}

{% block content %}
<h1>{{post_obj.title}}</h1>


{% if user.is_authenticated and cooluser == post_obj.author %}
<div class="text-right">
    <a class="btn btn-info new-post-btn" role="button"
       target='_blank' href="{% url 'post-update' post_obj.id %}">Update Post</a>
</div>
{% endif %}

{% if post_obj.image_link %}
<div class="post-detail-image">
    <img src="{{post_obj.image_link}}" alt="{{post_obj.title}}">
</div>
{% endif %}
<p class="post-detail-body text-center">{{post_obj.body|urlize}}</p>

{% if post_obj.source_link and post_obj.source_label %}
<div class="text-center">
    <a class="btn btn-info " role="button" target='_blank' href="{{post_obj.source_link}}">Check
        at: {{post_obj.source_label}}</a>
</div>
{% endif %}


<div class="row">
    <div class="col-md-6"><small class="text-muted">Created at:
        {{post_obj.creation_date|date:'Y-d-m'}}</small></div>
    <div class="col-md-6 text-right"><small class="text-muted">Updated at:
        {{post_obj.last_update|date:'Y-d-m'}}</small></div>
</div>


{% endblock %}