{% extends 'base.html' %}

{% block content %}

{% if post_list %}
<h1>{{post_list.0.category.label}}</h1>
{% endif %}

{% if user.is_authenticated %}
<div class="text-right">
    <a class="btn btn-info new-post-btn" role="button" target='_blank' href="{% url 'post-add' %}">
        New Post</a>
</div>
{% endif %}

{% for post in post_list %}
{% include 'post_card.html' %}
{% empty %}


<p class="text-center font-weight-bold">
    There are no posts yet for this category, let's create some :D
</p>

{% endfor %}

{% endblock %}