{% if stats %}
<div class="m-1 text-center">


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Count</th>

        </tr>
        </thead>
        <tbody>
        {% for word, cnt in stats.all.top.items %}
        <tr>
            <th>{{word}}</th>
            <th>{{cnt}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center">
    {{stats.all.to_svg|safe}}
</div>

{% endif %}