{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{{title|default:'CoolPress'}}{% endblock title %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}
    <!-- JQuery -->
        <script src="{% static 'press/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'press/bootstrap-dist/css/bootstrap.min.css' %}">
        <script src="{% static 'press/bootstrap-dist/js/bootstrap.min.js' %}"></script>
    <!--app styles-->
        <link rel="stylesheet" type="text/css" href="{% static 'press/styles.css' %}">
    {% endblock styles %}
    {% endblock head %}
</head>
<body>


<div class="container">
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'pagination.html' %}
</div>
</body>
</html>
