#main-navbar {
    background-color: #d5fffd;
}

#navbarSupportedContent > ul {
    flex-grow: inherit;
}

.post {
    margin: 10px 5px 10px 5px;
}
.post-image {
    max-width: 100%;
    padding: 10px;
}

.post-detail-image {
    text-align: center;
    margin: 25px;
}

.post-detail-image img {
    max-height: 300px;
}

.post-detail-body {
    text-align: center;
}